body * {
  box-sizing: border-box;
}
header{
  width: 100%;
  background-color: khaki;
  padding: 1px 10px 1px 10px;
}
h1{
  padding: 0;
  text-align: center;
  color: grey;
  size: 1em;
}
.container{
  margin: auto;
  width: 50%;
}

.controls *{
  border: 2px solid black;
  height: auto;
  padding: 30px;
}
.
ul {
  list-style-type: none;
  padding: 0;
  height: auto;
}
ul.bookmarks{
  border: 2px solid black;
}
.filter{
  display: inline-block;
}
.controls{
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
}
.bookmark{
  /* width: 50px; */
  height: auto;
  /* text-align: center; */
  border: 1px solid black;
  margin: 5px;
  border-radius: 5%;
  padding: 10px;
}
.verbose{
  height: 290px;
}

.star-rating{
  float: right;
  text-align: right;
}