body * {
  box-sizing: border-box;
}
header{
  width: 100%;
  background-color: khaki;
  padding: 1px 10px 1px 10px;
}
h1{
  padding: 0;
  text-align: center;
  color: grey;
  size: 1em;
}
.container{
  margin: auto;
  width: 40%;
}

.controls{
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

.form-title{
  margin-bottom:2px;
}

ul {
  list-style-type: none;
  padding: 0;
  height: auto;
}
ul.bookmarks{
  border: 2px solid black;
}
.filter{
  display: inline-block;
}

.bookmark{
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}
.condensed > h3{
  display: inline;
}
.verbose > h3{
  display: inline;
}
.verbose{
  height: auto;
}
.desc-section{
  border: .5px dotted grey;
  margin: 5px;
}
.desc{
  margin: 5px;
}
.desc-title{
  margin: 5px;
}

.stars-rating{
  float: right;
  /* vertical-align: middle; */
}