body * {
  box-sizing: border-box;
}
.container{
  margin: auto;
  width: 50%;
}
.controls{
  border: 2px solid black;
  height: auto;
}
ul {
  list-style-type: none;
  padding: 0;
  height: auto;
}
ul.bookmarks{
  border: 2px solid black;
}
.bookmark{
  /* width: 50px; */
  height: auto;
  /* text-align: center; */
  border: 1px solid black;
  margin: 5px;
  border-radius: 5%;
  padding: 10px;
}
.verbose{
  height: 290px;
}

.star-rating{
  float: right;
  text-align: right;
}